@import "shabnam.css";
html,
body {
  padding: 5px;
  margin: 5px;
  font-family: shabnam,Serif;
  font-weight: bold;
  background-color: pink;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
